snippet styled-jsx
<style jsx>{\`
	${1:CSS}
\`}</style>
endsnippet

snippet react-component
import React from "react"

export default function ${1:ComponentName}(${2:props}) {
	return (
		${3:content}
	)
}
endsnippet

snippet getinitialprops
export async function getServerSideProps(${1:props}) {
  return {
    props: {}
  }
}
endsnippet
