<html>
  <head>
    <title>__name__</title>
    <meta name="description" content="My description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,600;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css" />

    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="__name__"
    />
    <meta property="og:url" content="https://mysite.com" />
    <meta
      property="og:description"
      content="My description"
    />
    <meta property="og:image" content="https://__name__.com/images/cover.jpg" />
    <link rel="icon" href="/favicon.ico" />
  </head>

  <body>
    <h1>Welcome to __name__!</h1>
  </body>
</html>
